@import './blocks/*.sass'


//-------------------
html 
    scroll-behavior: smooth

body
    font-family: 'Verdana', sans-serif
    font-family: 'Tahoma', sans-serif
    font-family: 'Lucida Sans', sans-serif
                                                
                                                            
a
    color: $color-black
    text-decoration: none


.wrapper
    max-width: 1440px
    margin: 0 auto
    overflow: hidden
    padding: 0 25px

.title__page
    // height: 100vh
    padding: 30px 0 0 0 

.title__logo

.title__logo
    max-width: 1024px
    // margin-top: 50px
    margin: 0 auto
    img
        width: 80%
.__container
    max-width: 980px
    margin: 0 auto

.title__line
    display: inline-block
    width: 60%
    height: 15px
    background-color: $color-03989e
    border-radius: 20px
    margin: 30px 0 

.title
    margin-top: 30px
    h1
        font-family: 'Verdana', sans-serif
        font-size: 60px
        font-weight: 700
        color: $color-7a7a7a
        line-height: 1.2
.title__foter
    background-color: $color-03989e
    padding: 100px 0
.title__foter__wrap
    h2
        font-family: 'Verdana', sans-serif
        font-size: 43px
        font-weight: 700
        color: $color-white
        line-height: 1.2
//---------------------





@import './_footer'
@import './_media'